*.egg-info
*.DS_Store
*__pycache__
pycis/demo/*.png
pycis/model/config/*
!pycis/model/config/single_delay_linear.yaml
!pycis/model/config/single_delay_pixelated.yaml
!pycis/model/config/multi_delay_pixelated.yaml
