*.egg-info
*.DS_Store
*__pycache__
pycis/demo/*.png
pycis/temp
pycis/model/config/*
!pycis/model/config/demo_config_single_delay_linear.yaml
!pycis/model/config/demo_config_single_delay_pixelated.yaml
!pycis/model/config/demo_config_multi_delay_pixelated.yaml
